<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bmi_kalkulator.Properties.Settings.bmiConnectionString"
            connectionString="Data Source=DESKTOP-A0FVH4R;Initial Catalog=bmi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bmi_kalkulator.Properties.Settings.bmi2ConnectionString"
            connectionString="Data Source=DESKTOP-A0FVH4R;Initial Catalog=bmi2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>